---
import Layout from '../layouts/Layout.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../lib/constants'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="mx-auto flex h-[calc(100svh-40px)] max-w-md flex-col justify-center p-4"
  >
    <p>
      gm!
    </p>
    <p>
      I'm Maxi, a software engineer and founder from Berlin.
    </p>
    <p>
      I'm currently working on an AI powered crypto tax SaaS. Reach out if you're interested in learning more!
    <p>
      On here, I write about <a href="/posts" class="text-blue-700 underline">my open source work, learnings, and thoughts</a>.
    </p>
    </p>
  </main>
</Layout>