---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../lib/constants";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="mx-auto flex h-[calc(100svh-40px)] max-w-xs flex-col justify-center p-4"
  >
    <p>
      hi. i'm maxi. welcome to my personal space on the internet. i'm a software engineer from berlin. my goal in life is to start a profitable online business and have fun while doing so. i will write about my journey here.
    </p>
    <a href="/posts" class="text-blue-700 underline">come in</a>
    </p>
  </main>
</Layout>