---
import { Image } from "astro:assets";
import Max from "../photos/max.png";
---

<div
  class="bg-rose-50 py-10 px-3 md:px-0 grid gap-6 md:gap-16 md:grid-cols-3 items-center"
>
  <div class="md:pl-10">
    <Image
      class="col-span-1 bg-transparent"
      src={Max}
      alt="Maximilian Ast - Chief Product Builder at Ast Product Studios"
    />
  </div>
  <div class="col-span-2 max-w-lg">
    <h1 class="font-display font-bold text-4xl">Hi, I'm Max</h1>
    <h4 class="pb-3 text-xl text-neutral-400">Founder & Software Engineer</h4>
    <p class="font-serif text-base mb-2">
      I'm passionate about building software that has an opinion and is a joy to
      use. When possible, I use open source products and build my products in
      public. I believe in "less is more", pragmatism, and a transparent, no-bs
      approach to software engineering.
    </p>
    <p class="font-serif text-base mb-2">
      Depending on availability and scope, I team up with other talented
      freelancers I have worked successfully with in the past. To get an
      assessments based on your project's requirements, feel free to <a
        class="underline text-blue-400"
        href="">reach out</a
      >.
    </p>
  </div>
</div>
