---
import { Image } from "astro:assets";
import MrPorter from "../logos/mrp.svg";
import Otrium from "../logos/otrium.svg";
import Moia from "../logos/moia.svg";
import Stryber from "../logos/stryber.svg";
---

<script>
  let originalMarqueeWidth: number | null = null;
  let originalNumberOfChildren: number | null = null;

  const adjustMarquee = () => {
    const container = document.getElementById("container");
    const marquee = document.getElementById("marquee");

    if (!container || !marquee) return;

    const children = Array.from(marquee.children);

    if (originalMarqueeWidth === null) {
      originalMarqueeWidth = marquee.offsetWidth;
    }

    if (originalNumberOfChildren === null) {
      originalNumberOfChildren = children.length;
    }

    if (originalMarqueeWidth >= container.offsetWidth) {
      // Ensure marquee is wide enough to scroll smoothly
      while (marquee.offsetWidth <= container.offsetWidth * 2) {
        children.slice(0, originalNumberOfChildren).forEach((child) => {
          const clone = child.cloneNode(true);
          if (clone instanceof Element) {
            clone.setAttribute("data-clone", "true");
            marquee.appendChild(clone);
          }
        });
      }
      if (!marquee.classList.contains("animate-marquee")) {
        marquee.classList.add("animate-marquee");
      }
      if (container.classList.contains("justify-center")) {
        container.classList.remove("justify-center");
      }
    } else {
      const clones = marquee.querySelectorAll('[data-clone="true"]');
      for (const clone of clones) {
        marquee.removeChild(clone);
      }
      if (marquee.classList.contains("animate-marquee")) {
        marquee.classList.remove("animate-marquee");
      }
      if (!container.classList.contains("justify-center")) {
        container.classList.add("justify-center");
      }
    }
  };

  // Listen for DOM content loaded to set initial state.
  document.addEventListener("DOMContentLoaded", adjustMarquee);

  // Listen for window resize events to adjust the marquee as necessary.
  window.addEventListener("resize", adjustMarquee);
</script>

<div class="bg-rose-50">
  <div
    id="container"
    class="min-h-20 flex justify-center overflow-x-hidden [mask-image:linear-gradient(to_right,transparent,white_20%,white_80%,transparent)]"
  >
    <div id="marquee" class="flex gap-20">
      <Image width={150} src={MrPorter} alt="Mr Porter logo" />
      <Image width={90} src={Otrium} alt="Otrium logo" />
      <Image width={90} src={Moia} alt="Moia logo" />
      <Image width={110} src={Stryber} alt="Stryber logo" />
    </div>
  </div>
</div>
