---
import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
---

<div id="consulting" class="py-10 px-3 xl:px-0">
  <h3
    class="font-display font-bold text-3xl md:text-4xl leading-tight md:leading-snug bg-clip-text text-transparent bg-gradient-to-b from-neutral-800 to-neutral-900"
  >
    Consulting
  </h3>
  <h4 class="pb-3 text-xl text-neutral-400">
    TypeScript & React Experts - From Mobile Apps to Complex Backend Systems
  </h4>
  <CardGrid>
    <Card
      href="https://docs.astro.build/"
      title="Mobile Apps"
      subtitle="React Native & Expo"
      body="Tap into our React Native experience to swiftly develop delightful mobile apps. We prioritize efficient delivery while maintaining quality, ensuring your app meets deadlines and user expectations. "
    />
    <Card
      href="https://docs.astro.build/"
      title="Web Apps"
      subtitle="React, Next.js, Remix, Astro"
      body="We lead you in crafting responsive, engaging web applications that convert visitors into users. Enhancing current platforms or starting anew, we make your web presence strong and memorable."
    />
    <Card
      href="https://docs.astro.build/"
      title="AI"
      subtitle="Integrate LLMs into your products"
      body="It's not about adding a 'Chat with AI' feature for the sake of novelty; we aim to implement LLMs where they can make a real difference, bringing genuine value to your products."
    />
    <Card
      href="https://docs.astro.build/"
      title="APIs"
      subtitle="REST, GraphQL, and tRPC."
      body="API development can be intricate. We offer guidance in designing and implementing REST, GraphQL, and tRPC APIs, ensuring they are secure, scalable, and maintainable, facilitating smooth integration and data exchange across your systems."
    />
    <Card
      href="https://docs.astro.build/"
      title="Infrastructure"
      subtitle="AWS, GCP, Cloudflare, Vercel"
      body="Optimize your cloud infrastructure with our expert guidance. We specialize in AWS, GCP, Cloudflare and Vercel. We help you reduce costs, enhance reliability, and boost performance, ensuring your infrastructure scales effectively with your business."
    />
    <Card
      href="https://docs.astro.build/"
      title="Migrations"
      subtitle="Overcome scalability issues"
      body="Whether you're moving between tech stacks or switching cloud providers, we provide end-to-end support for your migration projects, minimizing downtime and ensuring a smooth, secure transition for your critical data and services."
    />
  </CardGrid>
</div>
