---
import CtaButton from "./CtaButton.astro";
---

<div class="flex flex-col py-20 text-center">
  <h3
    class="font-display font-bold text-3xl md:text-4xl leading-tight md:leading-snug bg-clip-text text-transparent bg-gradient-to-b from-neutral-800 to-neutral-900"
  >
    Let's team up
  </h3>
  <h4 class="pb-3 text-xl text-neutral-400">What shall we work on?</h4>
  <div class="flex justify-center">
    <a href="/build">
      <CtaButton title="Inquire Project Assessment" />
    </a>
  </div>
</div>
