<footer class="px-2 md:px-0 py-5 gap-y-20 border-t-[1px] border-t-slate-800">
  <div class="flex justify-between">
    <p class="text-sm hidden md:block">&copy; Camarelle Ventures GmbH</p>
    <div class="flex justify-center gap-20">
      <div>
        <p class="text-sm text-gray-400 font-semibold pb-3">Links</p>
        <ul class="grid gap-1">
          <li><a class="text-sm" href="/posts">Posts</a></li>
          <li><a class="text-sm" href="/products">Products</a></li>
          <li><a class="text-sm" href="/consulting">Consulting</a></li>
        </ul>
      </div>
      <div>
        <p class="text-sm text-gray-400 font-semibold pb-3">Legal</p>
        <ul class="grid gap-1">
          <li><a class="text-sm" href="/imprint">Imprint</a></li>
          <li><a class="text-sm" href="/privacy">Privacy Policy</a></li>
          <li><a class="text-sm" href="/terms">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-sm md:hidden">&copy; Camarelle Ventures GmbH</p>
</footer>
