---
import Logo from "./LogoDark.astro";
---

<div class="px-3">
  <footer
    class="p-8 md:pr-20 bg-gradient-to-b from-slate-700 to-slate-800 shadow rounded-xl"
  >
    <div class="flex justify-between">
      <div class="hidden md:flex flex-col justify-between">
        <a href="/">
          <Logo />
        </a>
        <p class="text-xs text-white">&copy; Maximilian Ast</p>
      </div>
      <div class="flex justify-center gap-20">
        <div>
          <p class="font-display text-xl text-white font-semibold pb-3">
            Links
          </p>
          <ul class="grid gap-1">
            <li>
              <a class="text-sm text-white" href="/consulting">Consulting</a>
            </li>
            <li><a class="text-sm text-white" href="/products">Products</a></li>
            <li><a class="text-sm text-white" href="/posts">Posts</a></li>
          </ul>
        </div>
        <div>
          <p class="font-display text-xl text-white font-semibold pb-3">
            Legal
          </p>
          <ul class="grid gap-1">
            <li>
              <a class="text-sm font-body text-white" href="/imprint">Imprint</a
              >
            </li>
            <li>
              <a class="text-sm font-body text-white" href="/privacy"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a class="text-sm font-body text-white" href="/terms"
                >Terms & Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pt-10 flex md:hidden flex-col justify-between">
      <a href="/">
        <Logo />
      </a>
      <p class="text-xs text-white">&copy; Maximilian Ast</p>
    </div>
  </footer>
</div>
