<div class="h-[55vh] flex flex-col justify-center items-center text-center">
  <h1 class="font-display font-bold text-5xl mb-3 max-w-lg leading-snug">
    Crafting Tomorrow's Products, Today
  </h1>
  <h2 class="font-bold md:text-3xl text-gray-400">
    AI-first Product Development
  </h2>
</div>
