---
import Logo from "./Logo.astro";
import CtaButton from "./CtaButton.astro";
---

<nav class="p-3 xl:p-0 flex items-center justify-between">
  <a href="/">
    <Logo />
  </a>
  <div class="hidden md:flex items-center gap-12">
    <ul class="flex items-center gap-12">
      <li><a href="/#consulting">Consulting</a></li>
      <li><a href="/#off-the-shelf">Off The Shelf</a></li>
      <li><a href="/#products">Products</a></li>
      <li><a href="/#thoughts">Thoughts</a></li>
    </ul>
    <a href="/#build">
      <CtaButton title="Start Building" />
    </a>
  </div>
</nav>
