<div id="off-the-shelf" class="py-10 px-3 xl:px-0">
  <h3
    class="font-display font-bold text-3xl md:text-4xl leading-tight md:leading-snug bg-clip-text text-transparent bg-gradient-to-b from-neutral-800 to-neutral-900"
  >
    Off The Shelf
  </h3>
  <h4 class="pb-3 text-xl text-neutral-400">
    Our collection of free open source libraries and paid starter kits to help
    you get started on your own
  </h4>
  <ul
    role="list"
    class="pt-3 pb-10 grid md:grid-cols-3 gap-y-6 gap-x-3 xl:gap-y-12 xl:gap-x-5"
  >
    <li>
      <a href="">
        <div
          class="p-4 h-full bg-gradient-to-b from-blue-50 to-blue-100 border-2 border-blue-200 rounded-xl hover:scale-95 hover:-rotate-3 transition-all duration-100 ease-linear shadow"
        >
          <h4 class="font-display font-medium text-2xl">Slipway</h4>
          <p class="text-neutral-400 pb-2">coming soon</p>
          <p class="font-serif">
            Starter kit for building full-stack cross-platform apps with Expo
            and tRPC. Iterate at lightning speed to test market hypotheses
            faster than the competition. Includes auth, CI/CD, and everything
            else you need at MVP stage.
          </p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div
          class="p-4 h-full bg-gradient-to-b from-blue-50 to-blue-100 border-2 border-blue-200 rounded-xl hover:scale-98 hover:rotate-3 transition-all duration-100 ease-linear shadow"
        >
          <h4 class="font-display font-medium text-2xl">Capitana</h4>
          <p class="text-neutral-400 pb-2">coming soon</p>
          <p class="font-serif">
            Full-stack GraphQL boilerplate to build and launch successful social
            apps. Construct social graphs via contacts-based friend suggestions.
            Unlock unparalleled performance thanks to Relay, Meta's GraphQL
            client.
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/MaxAst/expo-share-extension"
        target="_blank"
        rel="noopener"
      >
        <div
          class="p-4 h-full bg-gradient-to-b from-blue-50 to-blue-100 border-2 border-blue-200 rounded-xl hover:scale-95 hover:rotate-3 transition-all duration-100 ease-linear shadow"
        >
          <h4 class="font-display font-medium text-2xl">
            Expo Share Extension
          </h4>
          <p class="text-neutral-400 pb-2">140 GitHub stars</p>
          <p class="font-serif">
            Easily create Pinterest-like user experiences in React Native apps
            with our open source Expo config plugin. Run React Native code right
            inside a custom share extension view, to not interrupt the user's
            browsing experience.
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
